body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
}

input, button, textarea, select {
  outline-width: 0;
}

button {
  border-style: solid;
  border-width: 1px;
  font-weight: 600;
  background: transparent;
}
